@import "~bootstrap/scss/bootstrap";

.layout {
  height: 100%;
  padding-top: 71px;
  padding-bottom: 15px;
}

::-webkit-scrollbar {
  width: 0;
}

input, textarea, select, button {
  &, &:active, &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}
